In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\USER\Desktop\DATA\2025\synthetic_wtp_laptop_data.csv")
df

     Memory  Storage  CPU_class  Screen_size  year   price
0         8     1024          3         16.0  2025  162021
1        32     1024          0         16.0  2024  112214
2        16      512          1         16.0  2025  118354
3        16     1024          1         16.0  2025  123383
4        16      256          3         16.0  2024  162968
..      ...      ...        ...          ...   ...     ...
995      16      256          2         15.6  2025  140531
996      16      512          1         14.0  2024  111736
997      16     1024          1         16.0  2024  121816
998      32      256          1         16.0  2024  127886
999      16      256          2         15.6  2025  140834

[1000 rows x 6 columns]

In [4]:
df['Memory'].value_counts()

32    336
8     334
16    330
Name: Memory, dtype: int64

In [5]:
df['Storage'].value_counts()

256     339
1024    331
512     330
Name: Storage, dtype: int64

In [6]:
df['CPU_class'].value_counts()

1    260
3    258
0    248
2    234
Name: CPU_class, dtype: int64

In [9]:
df['Screen_size'].value_counts()

16.0    336
15.6    332
14.0    332
Name: Screen_size, dtype: int64

In [10]:
df['year'].value_counts()

2025    524
2024    476
Name: year, dtype: int64

In [39]:
#Entries with the current specs

current = df[(df['Memory'] == 16) & (df['Storage'] == 512) & (df['CPU_class'] == 1) & (df['Screen_size'] == 14.0) & (df['year'] == 2025)]

current 

#current['price'].sum()

     Memory  Storage  CPU_class  Screen_size  year   price
78       16      512          1         14.0  2025  107978
204      16      512          1         14.0  2025  112676
254      16      512          1         14.0  2025  114057
289      16      512          1         14.0  2025  110083
419      16      512          1         14.0  2025  112671
915      16      512          1         14.0  2025  108857

In [37]:
#with increase in memory only

memory = df[(df['Memory'] == 32) & (df['Storage'] == 512) & (df['CPU_class'] == 1) & (df['Screen_size'] == 14.0) & (df['year'] == 2025)]

memory

#memory['price'].sum()

     Memory  Storage  CPU_class  Screen_size  year   price
190      32      512          1         14.0  2025  132589
591      32      512          1         14.0  2025  132328
884      32      512          1         14.0  2025  126621

In [36]:
#with increase in storage  only
storage = df[(df['Memory'] == 16) & (df['Storage'] == 1024) & (df['CPU_class'] == 1) & (df['Screen_size'] == 14.0) & (df['year'] == 2025)]

storage

#storage['price'].sum()

    Memory  Storage  CPU_class  Screen_size  year   price
39      16     1024          1         14.0  2025  117078

In [33]:
#with increase in CPU  only

cpu = df[(df['Memory'] == 16) & (df['Storage'] == 512) & (df['CPU_class'] == 2) & (df['Screen_size'] == 14.0) & (df['year'] == 2025)]

cpu

#cpu['price'].sum()

Empty DataFrame
Columns: [Memory, Storage, CPU_class, Screen_size, year, price]
Index: []

In [31]:
#with increase in size only

size = df[(df['Memory'] == 16) & (df['Storage'] == 512) & (df['CPU_class'] == 1) & (df['Screen_size'] == 16.0) & (df['year'] == 2025)]

size

#size['price'].sum()

     Memory  Storage  CPU_class  Screen_size  year   price
2        16      512          1         16.0  2025  118354
29       16      512          1         16.0  2025  115800
129      16      512          1         16.0  2025  112681
155      16      512          1         16.0  2025  118166
322      16      512          1         16.0  2025  111182
472      16      512          1         16.0  2025  111775
489      16      512          1         16.0  2025  115633
607      16      512          1         16.0  2025  115921
832      16      512          1         16.0  2025  110960
957      16      512          1         16.0  2025  117968

The models with the 16.0 screen size appear to be the most sold and increasing the size would increase the profit by 30,000 Yen

This means Screen Size is the no 1 spec to increase profit followed by memory which would increase profit by 21,000