## Data Types and Structures in Python and R Course Assessment: Python code 
### B240202 : Exam number

## Task 1: Python 

In this task you are asked to investigate the data in `scot_unintentional_injuries.csv` and `healthboards.csv`. 

The Unintentional Injuries dataset from Public Health Scotland provides information on emergency hospital admissions as a result of unintentional injuries and assaults. You can find more [information about the unintentional injuries data set here, including a data dictionary](https://www.opendata.nhs.scot/dataset/unintentional-injuries/resource/aee43295-2a13-48f6-bf05-92769ca7c6cf) and [here for more information about the health boards dataset](https://www.opendata.nhs.scot/dataset/geography-codes-and-labels/resource/652ff726-e676-4a20-abda-435b98dd7bdc). Do not import the data via the URL, you must use the data files provided for this assignment. 

Follow the steps below to ultimately answer the final questions with the data.

* load the necessary libraries and packages
* read in the data
* join the two data sets together
* check the data types of the variables of interest and ensure they are they type you want them to be. If not, change them.
* check for the content/information contained within your variables of interest and ensure you are satisfied
with the presentation
* check for and deal with any missing data, if deemed appropriate
* check the data formats (wide vs long) and transform if it is not appropriate

*Question:* **Among people aged 65 and older in 2020/21, did NHS Lothian and NHS Greater Glasgow and Clyde have the same 4 most common cause of accidental injuries leading to emergency hospital admissions? What were they (the 4 most common cause of accidental injury in these regions)?**

In [1]:
#Loading necessary libraries and packages

import pandas as pd
import numpy as np
import os # to check for working directory

In [2]:
#Checking for working directory

os.getcwd()

'/home/jovyan/DTSPRcourse-AY-2023-24/assessment'

In [3]:
#Importing the data sets

Unintentional_Injuries = pd.read_csv("/home/jovyan/DTSPRcourse-AY-2023-24/data/scot_unintentional_injuries.csv")
Health_Boards = pd.read_csv("/home/jovyan/DTSPRcourse-AY-2023-24/data/healthboards.csv")

In [4]:
#Reading data set 1

Unintentional_Injuries

,id,FinancialYear,HBR,HBRQF,CA,CAQF,AgeGroup,AgeGroupQF,Sex,SexQF,InjuryLocation,InjuryLocationQF,InjuryType,InjuryTypeQF,NumberOfAdmissions
0,1,2013/14,S92000003,d,S92000003,d,All,d,All,d,All,d,All Diagnoses,d,54974
1,2,2013/14,S92000003,d,S92000003,d,All,d,All,d,All,d,RTA,NaN,3069
2,3,2013/14,S92000003,d,S92000003,d,All,d,All,d,All,d,Poisoning,NaN,2865
3,4,2013/14,S92000003,d,S92000003,d,All,d,All,d,All,d,Falls,NaN,33558
4,5,2013/14,S92000003,d,S92000003,d,All,d,All,d,All,d,"Struck by, against",NaN,2453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390172,390173,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,"Struck by, against",NaN,1
390173,390174,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Crushing,NaN,0
390174,390175,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Scalds,NaN,0
390175,390176,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Accidental Exposure,NaN,27
390176,390177,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Other,NaN,6

In [5]:
#Reading data set 2

Health_Boards

,id,HB,HBName,HBDateEnacted,HBDateArchived,Country,CountryName
0,1,S08000015,NHS Ayrshire and Arran,20140401,NaN,S92000003,Scotland
1,2,S08000016,NHS Borders,20140401,NaN,S92000003,Scotland
2,3,S08000017,NHS Dumfries and Galloway,20140401,NaN,S92000003,Scotland
3,4,S08000018,NHS Fife,20140401,20180201.0,S92000003,Scotland
4,5,S08000019,NHS Forth Valley,20140401,NaN,S92000003,Scotland
5,6,S08000020,NHS Grampian,20140401,NaN,S92000003,Scotland
6,7,S08000021,NHS Greater Glasgow and Clyde,20140401,20190331.0,S92000003,Scotland
7,8,S08000022,NHS Highland,20140401,NaN,S92000003,Scotland
8,9,S08000023,NHS Lanarkshire,20140401,20190331.0,S92000003,Scotland
9,10,S08000024,NHS Lothian,20140401,NaN,S92000003,Scotland
10,11,S08000025,NHS Orkney,20140401,NaN,S92000003,Scotland
11,12,S08000026,NHS Shetland,20140401,NaN,S92000003,Scotland
12,13,S08000027,NHS Tayside,20140401,20180201.0,S92000003,Scotland
13,14,S08000028,NHS Western Isles,20140401,NaN,S92000003,Scotland
14,15,S08000029,NHS Fife,20180202,NaN,S92000003,Scotland
15,16,S08000030,NHS Tayside,20180202,NaN,S92000003,Scotland
16,17,S08000031,NHS Greater Glasgow and Clyde,20190401,NaN,S92000003,Scotland
17,18,S08000032,NHS Lanarkshire,20190401,NaN,S92000003,Scotland

In [6]:
# Joining the two data sets together

df_join = pd.merge(Unintentional_Injuries,Health_Boards, 
                       how = "left", 
                       left_on = "HBR", 
                       right_on = "HB")

In [7]:
#Reading the joined data set

df_join

,id_x,FinancialYear,HBR,HBRQF,CA,CAQF,AgeGroup,AgeGroupQF,Sex,SexQF,...,InjuryType,InjuryTypeQF,NumberOfAdmissions,id_y,HB,HBName,HBDateEnacted,HBDateArchived,Country,CountryName
0,1,2013/14,S92000003,d,S92000003,d,All,d,All,d,...,All Diagnoses,d,54974,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2013/14,S92000003,d,S92000003,d,All,d,All,d,...,RTA,NaN,3069,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2013/14,S92000003,d,S92000003,d,All,d,All,d,...,Poisoning,NaN,2865,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2013/14,S92000003,d,S92000003,d,All,d,All,d,...,Falls,NaN,33558,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2013/14,S92000003,d,S92000003,d,All,d,All,d,...,"Struck by, against",NaN,2453,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390172,390173,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,...,"Struck by, against",NaN,1,18.0,S08000032,NHS Lanarkshire,20190401.0,NaN,S92000003,Scotland
390173,390174,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,...,Crushing,NaN,0,18.0,S08000032,NHS Lanarkshire,20190401.0,NaN,S92000003,Scotland
390174,390175,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,...,Scalds,NaN,0,18.0,S08000032,NHS Lanarkshire,20190401.0,NaN,S92000003,Scotland
390175,390176,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,...,Accidental Exposure,NaN,27,18.0,S08000032,NHS Lanarkshire,20190401.0,NaN,S92000003,Scotland
390176,390177,2022/23,S08000032,NaN,S12000029,NaN,75plus years,NaN,Female,NaN,...,Other,NaN,6,18.0,S08000032,NHS Lanarkshire,20190401.0,NaN,S92000003,Scotland

In [8]:
#Selecting relevant columns to work with

relevant_data = df_join.loc[:,["FinancialYear", "AgeGroup","Sex","InjuryType", "NumberOfAdmissions", "HBName"]]

relevant_data

,FinancialYear,AgeGroup,Sex,InjuryType,NumberOfAdmissions,HBName
0,2013/14,All,All,All Diagnoses,54974,NaN
1,2013/14,All,All,RTA,3069,NaN
2,2013/14,All,All,Poisoning,2865,NaN
3,2013/14,All,All,Falls,33558,NaN
4,2013/14,All,All,"Struck by, against",2453,NaN
...,...,...,...,...,...,...
390172,2022/23,75plus years,Female,"Struck by, against",1,NHS Lanarkshire
390173,2022/23,75plus years,Female,Crushing,0,NHS Lanarkshire
390174,2022/23,75plus years,Female,Scalds,0,NHS Lanarkshire
390175,2022/23,75plus years,Female,Accidental Exposure,27,NHS Lanarkshire
390176,2022/23,75plus years,Female,Other,6,NHS Lanarkshire

In [9]:
#Reviewing data types

relevant_data.dtypes

FinancialYear         object
AgeGroup              object
Sex                   object
InjuryType            object
NumberOfAdmissions     int64
HBName                object
dtype: object

In [10]:
#Converting the object data type into categorical

relevant_cols = ["FinancialYear", "AgeGroup","Sex","InjuryType", "HBName"]

relevant_data[relevant_cols] = relevant_data[relevant_cols].astype("category")

In [11]:
#Reviewing transformed data types

relevant_data.dtypes

FinancialYear         category
AgeGroup              category
Sex                   category
InjuryType            category
NumberOfAdmissions       int64
HBName                category
dtype: object

In [12]:
#Checking for the shape of the data frame

relevant_data.shape #long format

(390177, 6)

In [14]:
#Checking for NAN values accross the columns
#relevant_data.FinancialYear.isna().sum()
#relevant_data.AgeGroup.isna().sum()
#relevant_data.Sex.isna().sum()
#relevant_data.InjuryType.isna().sum()
#relevant_data.NumberOfAdmissions.isna().sum()
relevant_data.HBName.isna().sum()

12150

In [15]:
#From above checks, only the HBName column had mising values.
#This matches to rows that had the country code (S92000003) instead of HBs code

Unintentional_Injuries.groupby("HBR")["HBR"].count()

HBR
S08000015    35964
S08000016    12042
S08000017    12105
S08000019    35100
S08000020    36144
S08000022    23778
S08000024    47817
S08000025    10233
S08000026    10440
S08000028    10521
S08000029    12132
S08000030    36108
S08000031    71460
S08000032    24183
S92000003    12150
Name: HBR, dtype: int64

In [16]:
#Removing the missing values since they do not belong to specific health boards

relevant_data = relevant_data.dropna()

relevant_data

,FinancialYear,AgeGroup,Sex,InjuryType,NumberOfAdmissions,HBName
1215,2013/14,All,All,All Diagnoses,1488,NHS Ayrshire and Arran
1216,2013/14,All,All,RTA,80,NHS Ayrshire and Arran
1217,2013/14,All,All,Poisoned,68,NHS Ayrshire and Arran
1218,2013/14,All,All,Falls,914,NHS Ayrshire and Arran
1219,2013/14,All,All,"Struck by, against",97,NHS Ayrshire and Arran
...,...,...,...,...,...,...
390172,2022/23,75plus years,Female,"Struck by, against",1,NHS Lanarkshire
390173,2022/23,75plus years,Female,Crushing,0,NHS Lanarkshire
390174,2022/23,75plus years,Female,Scalds,0,NHS Lanarkshire
390175,2022/23,75plus years,Female,Accidental Exposure,27,NHS Lanarkshire
390176,2022/23,75plus years,Female,Other,6,NHS Lanarkshire

In [18]:
#Checking for the unique age groups

relevant_data["AgeGroup"].unique()

['All', '0-4 years', '5-9 years', '10-14 years', '15-24 years', '25-44 years', '45-64 years', '65-74 years', '75plus years']
Categories (9, object): ['0-4 years', '10-14 years', '15-24 years', '25-44 years', ..., '5-9 years', '65-74 years', '75plus years', 'All']

In [17]:
#Checking for the unique Sex

relevant_data["Sex"].unique()

['All', 'Male', 'Female']
Categories (3, object): ['All', 'Female', 'Male']

In [19]:
#Checking for the unique injury types

relevant_data["InjuryType"].unique()

['All Diagnoses', 'RTA', 'Poisoned ', 'Falls', 'Struck by, against', ..., 'Falling ', 'Poisoned', 'Scalded', 'other', 'Falling']
Length: 16
Categories (16, object): ['Accidental Exposure', 'All Diagnoses', 'Crushing', 'Falling', ..., 'Scalds', 'Struck by, against', 'other', 'other ']

In [20]:
#Checking for the unique years

relevant_data["FinancialYear"].unique()

['2013/14', '2014/15', '2015/16', '2016/17', '2017/18', '2018/19', '2019/20', '2020/21', '2021/22', '2022/23']
Categories (10, object): ['2013/14', '2014/15', '2015/16', '2016/17', ..., '2019/20', '2020/21', '2021/22', '2022/23']

In [21]:
#Checking for the unique HBs

relevant_data["HBName"].unique()

['NHS Ayrshire and Arran', 'NHS Borders', 'NHS Dumfries and Galloway', 'NHS Forth Valley', 'NHS Grampian', ..., 'NHS Western Isles', 'NHS Fife', 'NHS Tayside', 'NHS Greater Glasgow and Clyde', 'NHS Lanarkshire']
Length: 14
Categories (14, object): ['NHS Ayrshire and Arran', 'NHS Borders', 'NHS Dumfries and Galloway', 'NHS Fife', ..., 'NHS Orkney', 'NHS Shetland', 'NHS Tayside', 'NHS Western Isles']

In [22]:
#Selecting rows to answer the question

answer_df = relevant_data.loc[(relevant_data["FinancialYear"] == "2020/21") & 
                           (relevant_data["AgeGroup"].isin(["65-74 years", "75plus years"])) & 
                           (relevant_data["Sex"] == "All") &
                           (relevant_data["HBName"].isin(["NHS Lothian", "NHS Greater Glasgow and Clyde"])) &
                           (~relevant_data["InjuryType"].isin(["All Diagnoses", "other", "Other"]))
                           ]

In [23]:
answer_df

,FinancialYear,AgeGroup,Sex,InjuryType,NumberOfAdmissions,HBName
291421,2020/21,65-74 years,All,RTA,5,NHS Lothian
291422,2020/21,65-74 years,All,Poisoning,2,NHS Lothian
291423,2020/21,65-74 years,All,Falls,117,NHS Lothian
291424,2020/21,65-74 years,All,"Struck by, against",5,NHS Lothian
291425,2020/21,65-74 years,All,Crushing,0,NHS Lothian
...,...,...,...,...,...,...
310170,2020/21,75plus years,All,Falling,190,NHS Greater Glasgow and Clyde
310171,2020/21,75plus years,All,"Struck by, against",0,NHS Greater Glasgow and Clyde
310172,2020/21,75plus years,All,Crushing,1,NHS Greater Glasgow and Clyde
310173,2020/21,75plus years,All,Scalds,1,NHS Greater Glasgow and Clyde
310174,2020/21,75plus years,All,Accidental Exposure,33,NHS Greater Glasgow and Clyde

In [35]:
answer_df.groupby(["InjuryType"])["NumberOfAdmissions"].sum().sort_values(ascending=False)

InjuryType
Falls                  9222
Falling                7242
Accidental Exposure     658
Poisoning               390
RTA                     250
Struck by, against      196
Scalds                   50
Crushing                 34
other                    22
All Diagnoses             0
Falling                   0
Other                     0
Poisoned                  0
Poisoned                  0
Scalded                   0
other                     0
Name: NumberOfAdmissions, dtype: int64

In [78]:
answer_df.groupby(["HBName","InjuryType"])["NumberOfAdmissions"].sum().sort_values(ascending=False)

HBName                         InjuryType
NHS Lothian                    Falls                  7448
NHS Greater Glasgow and Clyde  Falling                7242
                               Falls                  1774
                               Accidental Exposure     468
                               Poisoning               240
                                                      ...
NHS Forth Valley               Scalded                   0
                               Scalds                    0
                               Struck by, against        0
                               other                     0
NHS Western Isles              other                     0
Name: NumberOfAdmissions, Length: 224, dtype: int64

*Task 1 (Python) Answer* (in 1-2 sentences): The 4 most common causes of accidental injuries leading to admisssion include: Falls, Accidental Exposure, Poisoning and RTA.

## Task 2: Python 
There has been an IT failure in the prescribing databases in a local area. The only remaining data around medications is the backup file below, but it has been scrambled. Explore the following data object `x`. Select **7 of the 10** aspects of data and reconstruct the dataset about medications. Present `x` in a more clear and better structured format, ensuring that the data structure and data types are appropriate, given the (limited) information provided.

The code to load data object `x` has been provided below.

In [36]:
import json

# this function just loads the data from files, there is no need to understand how it does it.
def load_json_file_named(file_name):
    try: 
        loaded_data = []
        file_location = f"../data/{file_name}"
        with open(file_location, 'r') as file: # or f"data/{file_name}" depending on your files
            loaded_data =  json.load(file)
    except OSError as e:
        print(f"Error. Does the file exist in this folder? {file_location}\n\n {e}")
    return loaded_data

x = load_json_file_named('task2_data.json')

In [37]:
print(x)

[['white', 'red', 'yellow', 'yellow', 'blue', 'red', 'blue', 'yellow', 'orange', 'green', 'orange', 'yellow', 'white', 'orange', 'green', 'white', 'orange', 'red', 'orange', 'yellow', 'white', 'blue', 'white', 'yellow', 'orange'], ['triangle', 'square', 'triangle', 'triangle', 'round', 'square', 'capsule', 'capsule', 'round', 'capsule', 'oval', 'square', 'square', 'round', 'round', 'triangle', 'triangle', 'oval', 'diamond', 'oval', 'capsule', 'square', 'diamond', 'oval', 'capsule'], ['L484', 'A66', 'L484', '215', 'A66', 'S193', 'S193', 'A66', 'A66', 'S193', 'L484', 'M367', '215', 'L484', '215', 'I-2', 'L484', '215', 'M367', 'I-2', 'M367', 'A66', 'S193', 'I-2', 'M367'], [500, 250, 325, 100, 250, 1, 2, 500, 500, 3, 1000, 5.3, 100, 1000, 1000, 400, 200, 500, 400, 5.5, 200, 5.3, 250, 1, 7.5], ['mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg'], ['3x', '3x', '1x', '1x', 'NA', '2x', '1x', 'NA', '3x', '2x', '1x', '2x', '3x', '2x', '2x', 'NA', '2x', '3x', '2x', '1x', '3x', '3x', '3x', 'NA', 'NA'], [0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0], [1974, 1989, 1974, 1989, 1974, 1974, 1969, 1995, 1989, 1983, 1989, 1976, 2000, 1969, 1970, 2000, 1966, 1966, 1980, 1966, 1970, 2000, 1970, 2001, 1976], [202109, 202208, 202308, 202302, 202203, 202109, 202308, 202107, 202109, 202211, 202401, 202107, 202304, 202203, 202308, 202203, 202308, 202206, 202203, 202204, 202308, 202109, 202205, 202203, 202105], ['Pharm', 'Pharm', 'Hosp', 'Pharm', 'Dent', 'Dent', 'Pharm', 'NotKnown', 'Pharm', 'NotKnown', 'Dent', 'Hosp', 'Hosp', 'Pharm', 'Other', 'Dent', 'Pharm', 'Pharm', 'Hosp', 'Dent', 'Dent', 'NotKnown', 'NotKnown', 'Dent', 'Dent']]

In [38]:
#counting the number of distinct lists

num = 0

for item in x:
    num+=1
    
print(num)

10

In [39]:
#Accessing indidvidual lists and checking for number items in each list

print(x[0])
print(x[9])
print(len(x[0]))
len(x[9])

['white', 'red', 'yellow', 'yellow', 'blue', 'red', 'blue', 'yellow', 'orange', 'green', 'orange', 'yellow', 'white', 'orange', 'green', 'white', 'orange', 'red', 'orange', 'yellow', 'white', 'blue', 'white', 'yellow', 'orange']
['Pharm', 'Pharm', 'Hosp', 'Pharm', 'Dent', 'Dent', 'Pharm', 'NotKnown', 'Pharm', 'NotKnown', 'Dent', 'Hosp', 'Hosp', 'Pharm', 'Other', 'Dent', 'Pharm', 'Pharm', 'Hosp', 'Dent', 'Dent', 'NotKnown', 'NotKnown', 'Dent', 'Dent']
25

25

In [40]:
#Dictionary where the keys are the names I have assigned to each list entry
#I am using index notation to access the lists from the loaded dataset

dict_x = {"Color":x[0],
         "Shape":x[1],
         "Drug_Name":x[2],
         "Weight":x[3],
         "Measure":x[4],
         "Dosage":x[5],
         "Available":x[6],
         "Year_of_Manufacture":x[7],
         "Date_of_Prescription":x[8],
         "Source":x[9]
         }

print(dict_x)

{'Color': ['white', 'red', 'yellow', 'yellow', 'blue', 'red', 'blue', 'yellow', 'orange', 'green', 'orange', 'yellow', 'white', 'orange', 'green', 'white', 'orange', 'red', 'orange', 'yellow', 'white', 'blue', 'white', 'yellow', 'orange'], 'Shape': ['triangle', 'square', 'triangle', 'triangle', 'round', 'square', 'capsule', 'capsule', 'round', 'capsule', 'oval', 'square', 'square', 'round', 'round', 'triangle', 'triangle', 'oval', 'diamond', 'oval', 'capsule', 'square', 'diamond', 'oval', 'capsule'], 'Drug_Name': ['L484', 'A66', 'L484', '215', 'A66', 'S193', 'S193', 'A66', 'A66', 'S193', 'L484', 'M367', '215', 'L484', '215', 'I-2', 'L484', '215', 'M367', 'I-2', 'M367', 'A66', 'S193', 'I-2', 'M367'], 'Weight': [500, 250, 325, 100, 250, 1, 2, 500, 500, 3, 1000, 5.3, 100, 1000, 1000, 400, 200, 500, 400, 5.5, 200, 5.3, 250, 1, 7.5], 'Measure': ['mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg', 'mg'], 'Dosage': ['3x', '3x', '1x', '1x', 'NA', '2x', '1x', 'NA', '3x', '2x', '1x', '2x', '3x', '2x', '2x', 'NA', '2x', '3x', '2x', '1x', '3x', '3x', '3x', 'NA', 'NA'], 'Available': [0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0], 'Year_of_Manufacture': [1974, 1989, 1974, 1989, 1974, 1974, 1969, 1995, 1989, 1983, 1989, 1976, 2000, 1969, 1970, 2000, 1966, 1966, 1980, 1966, 1970, 2000, 1970, 2001, 1976], 'Date_of_Prescription': [202109, 202208, 202308, 202302, 202203, 202109, 202308, 202107, 202109, 202211, 202401, 202107, 202304, 202203, 202308, 202203, 202308, 202206, 202203, 202204, 202308, 202109, 202205, 202203, 202105], 'Source': ['Pharm', 'Pharm', 'Hosp', 'Pharm', 'Dent', 'Dent', 'Pharm', 'NotKnown', 'Pharm', 'NotKnown', 'Dent', 'Hosp', 'Hosp', 'Pharm', 'Other', 'Dent', 'Pharm', 'Pharm', 'Hosp', 'Dent', 'Dent', 'NotKnown', 'NotKnown', 'Dent', 'Dent']}

In [41]:
#converting the above dictionary into a data frame.

import pandas as pd

df_x = pd.DataFrame.from_dict(dict_x)

df_x

,Color,Shape,Drug_Name,Weight,Measure,Dosage,Available,Year_of_Manufacture,Date_of_Prescription,Source
0,white,triangle,L484,500.0,mg,3x,0,1974,202109,Pharm
1,red,square,A66,250.0,mg,3x,0,1989,202208,Pharm
2,yellow,triangle,L484,325.0,mg,1x,0,1974,202308,Hosp
3,yellow,triangle,215,100.0,mg,1x,1,1989,202302,Pharm
4,blue,round,A66,250.0,mg,NA,1,1974,202203,Dent
5,red,square,S193,1.0,mg,2x,1,1974,202109,Dent
6,blue,capsule,S193,2.0,mg,1x,1,1969,202308,Pharm
7,yellow,capsule,A66,500.0,mg,NA,0,1995,202107,NotKnown
8,orange,round,A66,500.0,mg,3x,0,1989,202109,Pharm
9,green,capsule,S193,3.0,mg,2x,0,1983,202211,NotKnown
10,orange,oval,L484,1000.0,mg,1x,0,1989,202401,Dent
11,yellow,square,M367,5.3,mg,2x,1,1976,202107,Hosp
12,white,square,215,100.0,mg,3x,0,2000,202304,Hosp
13,orange,round,L484,1000.0,mg,2x,1,1969,202203,Pharm
14,green,round,215,1000.0,mg,2x,1,1970,202308,Other
15,white,triangle,I-2,400.0,mg,NA,1,2000,202203,Dent
16,orange,triangle,L484,200.0,mg,2x,1,1966,202308,Pharm
17,red,oval,215,500.0,mg,3x,1,1966,202206,Pharm
18,orange,diamond,M367,400.0,mg,2x,0,1980,202203,Hosp
19,yellow,oval,I-2,5.5,mg,1x,1,1966,202204,Dent
20,white,capsule,M367,200.0,mg,3x,0,1970,202308,Dent
21,blue,square,A66,5.3,mg,3x,1,2000,202109,NotKnown
22,white,diamond,S193,250.0,mg,3x,1,1970,202205,NotKnown
23,yellow,oval,I-2,1.0,mg,NA,1,2001,202203,Dent
24,orange,capsule,M367,7.5,mg,NA,0,1976,202105,Dent

In [42]:
df_x.dtypes

Color                    object
Shape                    object
Drug_Name                object
Weight                  float64
Measure                  object
Dosage                   object
Available                 int64
Year_of_Manufacture       int64
Date_of_Prescription      int64
Source                   object
dtype: object

In [43]:
#Will need to combine the weight and measure column together
#First is to change the weight colum data type into int then string

df_x["Weight"] = df_x["Weight"].astype(int)
df_x["Weight"] = df_x["Weight"].astype(str)

In [44]:
df_x.dtypes #Weight column is now a string

Color                   object
Shape                   object
Drug_Name               object
Weight                  object
Measure                 object
Dosage                  object
Available                int64
Year_of_Manufacture      int64
Date_of_Prescription     int64
Source                  object
dtype: object

In [45]:
#I shall insert column after the drug name column

df_x

,Color,Shape,Drug_Name,Weight,Measure,Dosage,Available,Year_of_Manufacture,Date_of_Prescription,Source
0,white,triangle,L484,500,mg,3x,0,1974,202109,Pharm
1,red,square,A66,250,mg,3x,0,1989,202208,Pharm
2,yellow,triangle,L484,325,mg,1x,0,1974,202308,Hosp
3,yellow,triangle,215,100,mg,1x,1,1989,202302,Pharm
4,blue,round,A66,250,mg,NA,1,1974,202203,Dent
5,red,square,S193,1,mg,2x,1,1974,202109,Dent
6,blue,capsule,S193,2,mg,1x,1,1969,202308,Pharm
7,yellow,capsule,A66,500,mg,NA,0,1995,202107,NotKnown
8,orange,round,A66,500,mg,3x,0,1989,202109,Pharm
9,green,capsule,S193,3,mg,2x,0,1983,202211,NotKnown
10,orange,oval,L484,1000,mg,1x,0,1989,202401,Dent
11,yellow,square,M367,5,mg,2x,1,1976,202107,Hosp
12,white,square,215,100,mg,3x,0,2000,202304,Hosp
13,orange,round,L484,1000,mg,2x,1,1969,202203,Pharm
14,green,round,215,1000,mg,2x,1,1970,202308,Other
15,white,triangle,I-2,400,mg,NA,1,2000,202203,Dent
16,orange,triangle,L484,200,mg,2x,1,1966,202308,Pharm
17,red,oval,215,500,mg,3x,1,1966,202206,Pharm
18,orange,diamond,M367,400,mg,2x,0,1980,202203,Hosp
19,yellow,oval,I-2,5,mg,1x,1,1966,202204,Dent
20,white,capsule,M367,200,mg,3x,0,1970,202308,Dent
21,blue,square,A66,5,mg,3x,1,2000,202109,NotKnown
22,white,diamond,S193,250,mg,3x,1,1970,202205,NotKnown
23,yellow,oval,I-2,1,mg,NA,1,2001,202203,Dent
24,orange,capsule,M367,7,mg,NA,0,1976,202105,Dent

In [46]:
#inserting the combined column in the data frame

df_x.insert(loc=3,column="Measurement",value=df_x["Weight"] + df_x["Measure"])

In [47]:
df_x

,Color,Shape,Drug_Name,Measurement,Weight,Measure,Dosage,Available,Year_of_Manufacture,Date_of_Prescription,Source
0,white,triangle,L484,500mg,500,mg,3x,0,1974,202109,Pharm
1,red,square,A66,250mg,250,mg,3x,0,1989,202208,Pharm
2,yellow,triangle,L484,325mg,325,mg,1x,0,1974,202308,Hosp
3,yellow,triangle,215,100mg,100,mg,1x,1,1989,202302,Pharm
4,blue,round,A66,250mg,250,mg,NA,1,1974,202203,Dent
5,red,square,S193,1mg,1,mg,2x,1,1974,202109,Dent
6,blue,capsule,S193,2mg,2,mg,1x,1,1969,202308,Pharm
7,yellow,capsule,A66,500mg,500,mg,NA,0,1995,202107,NotKnown
8,orange,round,A66,500mg,500,mg,3x,0,1989,202109,Pharm
9,green,capsule,S193,3mg,3,mg,2x,0,1983,202211,NotKnown
10,orange,oval,L484,1000mg,1000,mg,1x,0,1989,202401,Dent
11,yellow,square,M367,5mg,5,mg,2x,1,1976,202107,Hosp
12,white,square,215,100mg,100,mg,3x,0,2000,202304,Hosp
13,orange,round,L484,1000mg,1000,mg,2x,1,1969,202203,Pharm
14,green,round,215,1000mg,1000,mg,2x,1,1970,202308,Other
15,white,triangle,I-2,400mg,400,mg,NA,1,2000,202203,Dent
16,orange,triangle,L484,200mg,200,mg,2x,1,1966,202308,Pharm
17,red,oval,215,500mg,500,mg,3x,1,1966,202206,Pharm
18,orange,diamond,M367,400mg,400,mg,2x,0,1980,202203,Hosp
19,yellow,oval,I-2,5mg,5,mg,1x,1,1966,202204,Dent
20,white,capsule,M367,200mg,200,mg,3x,0,1970,202308,Dent
21,blue,square,A66,5mg,5,mg,3x,1,2000,202109,NotKnown
22,white,diamond,S193,250mg,250,mg,3x,1,1970,202205,NotKnown
23,yellow,oval,I-2,1mg,1,mg,NA,1,2001,202203,Dent
24,orange,capsule,M367,7mg,7,mg,NA,0,1976,202105,Dent

In [48]:
#Removing the measure and weight columns since they are no longer needed

df_x = df_x.drop(columns = ["Weight","Measure"])

In [54]:
df_x

,Color,Shape,Drug_Name,Measurement,Dosage,Available,Year_of_Manufacture,Date_of_Prescription,Source
0,White,triangle,L484,500mg,3x,0,1974,202109,Pharm
1,Red,square,A66,250mg,3x,0,1989,202208,Pharm
2,Yellow,triangle,L484,325mg,1x,0,1974,202308,Hosp
3,Yellow,triangle,215,100mg,1x,1,1989,202302,Pharm
4,Blue,round,A66,250mg,NA,1,1974,202203,Dent
5,Red,square,S193,1mg,2x,1,1974,202109,Dent
6,Blue,capsule,S193,2mg,1x,1,1969,202308,Pharm
7,Yellow,capsule,A66,500mg,NA,0,1995,202107,NotKnown
8,Orange,round,A66,500mg,3x,0,1989,202109,Pharm
9,Green,capsule,S193,3mg,2x,0,1983,202211,NotKnown
10,Orange,oval,L484,1000mg,1x,0,1989,202401,Dent
11,Yellow,square,M367,5mg,2x,1,1976,202107,Hosp
12,White,square,215,100mg,3x,0,2000,202304,Hosp
13,Orange,round,L484,1000mg,2x,1,1969,202203,Pharm
14,Green,round,215,1000mg,2x,1,1970,202308,Other
15,White,triangle,I-2,400mg,NA,1,2000,202203,Dent
16,Orange,triangle,L484,200mg,2x,1,1966,202308,Pharm
17,Red,oval,215,500mg,3x,1,1966,202206,Pharm
18,Orange,diamond,M367,400mg,2x,0,1980,202203,Hosp
19,Yellow,oval,I-2,5mg,1x,1,1966,202204,Dent
20,White,capsule,M367,200mg,3x,0,1970,202308,Dent
21,Blue,square,A66,5mg,3x,1,2000,202109,NotKnown
22,White,diamond,S193,250mg,3x,1,1970,202205,NotKnown
23,Yellow,oval,I-2,1mg,NA,1,2001,202203,Dent
24,Orange,capsule,M367,7mg,NA,0,1976,202105,Dent

In [56]:
#Formatting the items in the structure by capitalizing

df_x["Color"] = df_x["Color"].str.capitalize()
df_x["Shape"] = df_x["Shape"].str.capitalize()

df_x

,Color,Shape,Drug_Name,Measurement,Dosage,Available,Year_of_Manufacture,Date_of_Prescription,Source
0,White,Triangle,L484,500mg,3x,0,1974,202109,Pharm
1,Red,Square,A66,250mg,3x,0,1989,202208,Pharm
2,Yellow,Triangle,L484,325mg,1x,0,1974,202308,Hosp
3,Yellow,Triangle,215,100mg,1x,1,1989,202302,Pharm
4,Blue,Round,A66,250mg,NA,1,1974,202203,Dent
5,Red,Square,S193,1mg,2x,1,1974,202109,Dent
6,Blue,Capsule,S193,2mg,1x,1,1969,202308,Pharm
7,Yellow,Capsule,A66,500mg,NA,0,1995,202107,NotKnown
8,Orange,Round,A66,500mg,3x,0,1989,202109,Pharm
9,Green,Capsule,S193,3mg,2x,0,1983,202211,NotKnown
10,Orange,Oval,L484,1000mg,1x,0,1989,202401,Dent
11,Yellow,Square,M367,5mg,2x,1,1976,202107,Hosp
12,White,Square,215,100mg,3x,0,2000,202304,Hosp
13,Orange,Round,L484,1000mg,2x,1,1969,202203,Pharm
14,Green,Round,215,1000mg,2x,1,1970,202308,Other
15,White,Triangle,I-2,400mg,NA,1,2000,202203,Dent
16,Orange,Triangle,L484,200mg,2x,1,1966,202308,Pharm
17,Red,Oval,215,500mg,3x,1,1966,202206,Pharm
18,Orange,Diamond,M367,400mg,2x,0,1980,202203,Hosp
19,Yellow,Oval,I-2,5mg,1x,1,1966,202204,Dent
20,White,Capsule,M367,200mg,3x,0,1970,202308,Dent
21,Blue,Square,A66,5mg,3x,1,2000,202109,NotKnown
22,White,Diamond,S193,250mg,3x,1,1970,202205,NotKnown
23,Yellow,Oval,I-2,1mg,NA,1,2001,202203,Dent
24,Orange,Capsule,M367,7mg,NA,0,1976,202105,Dent

In [88]:
#Formatting the Date_of_Prescription column

import re

df_x['Date_of_Prescription'] = df_x['Date_of_Prescription'].str.replace(r"(\d{4})(\d{2})", r"\1/\2", regex=True)

In [89]:
df_x

,Color,Shape,Drug_Name,Measurement,Dosage,Available,Year_of_Manufacture,Date_of_Prescription,Source
0,White,Triangle,L484,500mg,3x,0,1974,2021/09,Pharm
1,Red,Square,A66,250mg,3x,0,1989,2022/08,Pharm
2,Yellow,Triangle,L484,325mg,1x,0,1974,2023/08,Hosp
3,Yellow,Triangle,215,100mg,1x,1,1989,2023/02,Pharm
4,Blue,Round,A66,250mg,NA,1,1974,2022/03,Dent
5,Red,Square,S193,1mg,2x,1,1974,2021/09,Dent
6,Blue,Capsule,S193,2mg,1x,1,1969,2023/08,Pharm
7,Yellow,Capsule,A66,500mg,NA,0,1995,2021/07,NotKnown
8,Orange,Round,A66,500mg,3x,0,1989,2021/09,Pharm
9,Green,Capsule,S193,3mg,2x,0,1983,2022/11,NotKnown
10,Orange,Oval,L484,1000mg,1x,0,1989,2024/01,Dent
11,Yellow,Square,M367,5mg,2x,1,1976,2021/07,Hosp
12,White,Square,215,100mg,3x,0,2000,2023/04,Hosp
13,Orange,Round,L484,1000mg,2x,1,1969,2022/03,Pharm
14,Green,Round,215,1000mg,2x,1,1970,2023/08,Other
15,White,Triangle,I-2,400mg,NA,1,2000,2022/03,Dent
16,Orange,Triangle,L484,200mg,2x,1,1966,2023/08,Pharm
17,Red,Oval,215,500mg,3x,1,1966,2022/06,Pharm
18,Orange,Diamond,M367,400mg,2x,0,1980,2022/03,Hosp
19,Yellow,Oval,I-2,5mg,1x,1,1966,2022/04,Dent
20,White,Capsule,M367,200mg,3x,0,1970,2023/08,Dent
21,Blue,Square,A66,5mg,3x,1,2000,2021/09,NotKnown
22,White,Diamond,S193,250mg,3x,1,1970,2022/05,NotKnown
23,Yellow,Oval,I-2,1mg,NA,1,2001,2022/03,Dent
24,Orange,Capsule,M367,7mg,NA,0,1976,2021/05,Dent